.footerContainer {
    width: 100%;
    margin-top: 5rem;
    color: #141414;

}

.container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.preContainer {
    width: 90%;
    border-top: 2px solid #141414;

}

.socialMediaContainer {
    height: 200px;
    width: 100%;
    max-width: 250px;
    font-size: 32px;
    margin: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.socialMediaContainer a {
    transition: ease-in-out 0.2s;

}

.socialMediaContainer a:hover {
    color: #E1E1E1;

}

.bottomFooter {
    color: #F3F3F3;
    height: 2.5rem;
    background-color: #1B1B1B;
    width: 100%;
    text-align: center;

}

.bottomFooter a {
    transition: ease-in-out 0.2s;

}

.bottomFooter a:hover {
    color: #E1E1E1;
}